<%= form_with(model: user, local: true) do |form| %>
  <div class="box_container">
      <div>
          <h2>Welcome to <strong>CLOTHOLOGY!</strong></h2>
      </div>
      <div id="err">
      </div>

      <form id="form_login" action="login/validateLogin" method="post">
          <div class="input-set">
              <span class="error" id="email-pw_error"></span>
              <div class="input-label">
                <%= form.label :email %>
              </div>
              <div class="input-field">
                <%= form.text_field :email, id: :user_email %>
              </div>
          </div>

          <div class="input-set">
              <div class="input-label">
                <%= form.label :password %>
              </div>
              <div class="input-field">
                <%= form.text_field :password, id: :user_password %>
              </div>
          </div>
          
          <input type="submit" id="submitbutton" value="Login">
      </form>

      <p>Don't have any account? <a href="login">Register here!</a></p>
  </div>
<% end %>

