<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @brand.company_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @brand.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @brand.phone %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @brand.product_type %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @brand.product_name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @brand.active %>
</p>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
